#root {
  padding: 2rem;
  padding-bottom: 0;
  user-select: none;
  min-width: 500px;
}

.text {
  background: -webkit-linear-gradient( 120deg, #0b0a0c 30%, #030303);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}